<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User Info</h2>
        <%= form_with model:@user, local: true do |f| %>
        <%= render "layouts/error_messages2", user: @user %>
          <h4>Name</h4>
          <%= f.text_field :name %>

          <h4>Image</h4>
          <%= f.attachment_field :profile_image %>

          <h4>Introduction</h4>
          <%= f.text_area :introduction %><br>
          <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User"><br>

        <% end %>
    </div>
  </div>
</div>
