<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-3">
    <h2>User info</h2>
    <div class="profile-container">
      <%= attachment_image_tag @book2.user, :profile_image, :fill, 60, 60, format:'jpg', fallback: "no_image.jpg" %>
      <table class="table table-hover table-inverse">
        <thad>
          <tr>
          <th>name</th>
          <td><%= @book2.user.name %></td>
          </tr>
        </thad>
        <tr>
          <th>introduction</th>
          <td><%= @book2.user.introduction %></td>
        </td>
      </table>
    </div>
  <%= link_to edit_user_path(@book2.user) do %>
    <i class="btn btn-outline-secondary btn-block fas fa-user-cog"></i>
  <% end %>


    <h2>New book</h2>
    <%= form_with model:@book, local:true do |f| %>
    <%= render "layouts/error_messages", book: @book %>
      <h4>Title</h4>
          <%= f.text_field :title, class: "col-xs-12 book_title" %>
       <h4>opinion</h4>
          <%= f.text_area :body, class: "col-xs-12 book_body" %>
     <br>
     <div class="form">
       <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
     </div>
    <% end %>
  </div>

  <div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
   <table class="table table-hover table-inverse">
        <tbody>
        <tr>
          <td>
          <%= link_to user_path(@book2.user.id) do %>
          <%= attachment_image_tag @book2.user, :profile_image, :fill, 60, 60, format:'jpg', fallback: "no_image.jpg" %>
          <% end %>
          <%= link_to user_path(@book2.user.id) do %>
             <p><%= @book2.user.name %></p>
          <% end %>
          </td>
          <td>
           <%= link_to book_path(@book2.id) do %>
            <p><%= @book2.title %></p>
           <% end %>
           </td>
           <td>
          <p><%= @book2.body %></p>
           </td>
         <td>
          <% if @book2.user == current_user %>
            <%= link_to "Edit" , edit_book_path(@book2), class: "btn-sm btn-success" %>
            <%= link_to "Destroy", book_path(@book2.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn-sm btn-danger" %>
          <% end %>
         </td>
         <td>
            <% if @book2.favorited_by?(current_user) %>
            <p>
              <%= link_to book_favorites_path(@book2), method: :delete do %>
                ♥<%= @book2.favorites.count %>
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to book_favorites_path(@book2), method: :post do %>
                ♡<%= @book2.favorites.count %>
              <% end %>
            </p>
          <% end %>
         </td>
         <td>
           <p>コメント数：<%= @book2.book_comments.count %></p>
         </td>
        </tr>
     </tbody>
    </table>
    <div class="comments">
        <% @book2.book_comments.each do |book_comment| %>
          <p><%= attachment_image_tag book_comment.user, :profile_image, :fill, 60, 60, format:'jpg', fallback: "no_image.jpg" %></p>
          <%= book_comment.user.name %>
          <%= book_comment.comment %>
           <% if book_comment.user == current_user %>
            <div class="comment-delete">
              <%= link_to "destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn-sm btn-danger" %>
              </div>
              <% end %>
          <% end %>
    </div>
　 <div class="col-auto">
        <div class="new-comment">
            <%= form_with(model:[@book2, @book_comment], local: true) do |f| %>
          <%= f.text_area :comment, size: "80x5", placeholder: "コメントをここに" %>
          <%= f.submit "送信" %>
            <% end %>
       </div>
   </div>

 </div>
</div>